<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Page not found</title>
</head>
<body>
<div style="width:80%; margin:auto; text-align:center; font-size:xxx-large; margin-top:50px;">Vilnius Temperature History</div>
<div style="width: 80%; margin:auto; text-align: center; margin-top: 10px; font-size:large;">
Uuups... <span style="color:red">Page not found </span> :( Just try looking up for Vilnius air temperature history! </div>
<th:block th:include="/choise"></th:block>
</body>
</html>